<ion-card>
  <ion-card-header [color]="color">
    <ion-card-title>{{ getTitle(type) }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!-- TODO: Ngfor -->
    <ion-list>
      <ion-item *ngFor="let task of taskItems">
        <ion-label>
          <h2><strong>{{ task.name }}</strong></h2>
          <h3><ion-text color="danger">Due Date:</ion-text> {{ formatDate(task.date) }}</h3>
          <p>{{ task.description }}</p>
          <br>
          <p *ngIf="type !== 'done'">Mark as:
            <ion-button
              *ngIf="type !== 'in-progress'"
              color="tertiary"
              size="small" fill="outline"
              shape="round"
            >In Progress</ion-button>
            <ion-button color="success" size="small" fill="solid" shape="round">
              <ion-icon name="checkmark-outline"></ion-icon>
              <span>Done</span>
            </ion-button>
          </p>
        </ion-label>
        <div *ngIf="type !== 'done'" slot="end">
          <ion-button fill="clear" (click)="onEditTask(task)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="onDeleteTask(task.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        <div *ngIf="type === 'done'" slot="end">
          <ion-icon style="color: green;" name="checkmark-outline" size="large"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
