<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Almond's Todo App
    </ion-title>
    <ion-button color="primary" slot="end" (click)="openTaskModal('add')">
      <ion-icon name="add-outline"></ion-icon>
      <span>&nbsp;Create Task</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo App</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-lists-card type="todos"color="danger"></app-lists-card>
        </ion-col>
        <ion-col>
          <app-lists-card
            color="tertiary"
            type="in-progress"
          >
          </app-lists-card>
        </ion-col>
        <ion-col>
          <app-lists-card
            color="success"
            type="done"
          >
          </app-lists-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
